# Write a function to find the max of three numbers.

In [1]:
num1=int(input('Enter num1 number: '))
num2=int(input('Enter num2 number: '))
num3=int(input('Enter num3 number: '))
def maximum(x,y,z):
    print('Maximum of 3 numbers is: ',max(x,y,z))
maximum(num1,num2,num3)

Enter num1 number: 89
Enter num2 number: 99
Enter num3 number: 90
Maximum of 3 numbers is:  99

# Write a function to sum all the numbers in a list.

In [2]:
def sum_list(iteams):
    sum_numbers=0
    for x in iteams:
        sum_numbers +=x
    return sum_numbers
print(sum_list([1,2,3]))

6

# Write a function to multiply all the numbers in a list.

In [3]:
def list_multiply(numbers):
    product = 1
    for number in numbers:
        product = product * number
    return product
list1= [2,3,5,6]

print(list_multiply(list1))

180

# Write a function to reverse a string.

In [4]:
def st(x):
    m=x[::-1]
    print('Reverse of the string is: ',m)

n=input('Enter the string: ')
st(n)

Enter the string: 7,9,0,7,58,9
Reverse of the string is:  9,85,7,0,9,7

# Write a function to calculte the factorial of a number.

In [5]:
def factorial(a):
    fact = 1
    for i in range(a,0,-1):
        fact=fact*i
    return fact
n=int(input("enter any number"))
res=factorial(n)
print("factorial of",n,"is",res)

enter any number12
factorial of 12 is 479001600

# Write a Function that accepts a string and calculate the number of uppercase letters and lowercase letters.

In [6]:
def upper_lower(x):
    c1=0
    c2=0
    i=0
    while i<len(x):
        if x[i].isupper()==True:
            c1+=1
        else:
            c2+=1
        i+=1
    print('Uppercase letters: ',c1)
    print('Lowercase letters: ',c2)

n=input('Enter the string: ')
upper_lower(n)

Enter the string: Hey there i am sayali
Uppercase letters:  1
Lowercase letters:  20

# Write a Function that takes a list and returns a new list with unique elements of the first list.

In [7]:
def unique(x):
    l1=[]
    print('Entered list: ',x)
    for i in x:
        if i not in l1:
            l1.append(i)
    print('Unique elements of list are: ',l1)

n=input('Enter list elements: ').split()
unique(n)

Enter list elements: 5,6,7,8,4,3,5,'y','jj'
Entered list:  ["5,6,7,8,4,3,5,'y','jj'"]
Unique elements of list are:  ["5,6,7,8,4,3,5,'y','jj'"]